{% extends "base.html" %}
{% load static %}
{% load cart %}
{% load custom_filter %}
{% block content %}
{% block extrahead %}
  <link href="{% static 'dist/css/rating.css' %}" rel="stylesheet">
{% endblock %}
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="{% static 'users/images/parallax/bgparallax-07.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>Sách</h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="tg-active"> <a href="products.php">Sách</a></li>
                        <li class="tg-active"> <a href="#">Chi tiết sách</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
            Inner Banner End
    *************************************-->

<!--************************************
            Main Start
    *************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
                News Grid Start
        *************************************-->
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-twocolumns" class="tg-twocolumns">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
                        <div id="tg-content" class="tg-content" style="padding-bottom: 100px !important;">
                            <div class="tg-productdetail">
                                <div class="row">
                                    <form action="" method="POST">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="tg-postbook">
                                                <figure class="tg-featureimg"><img src="/media/{{book.image}}" alt="image description"></figure>
                                                <div class="tg-postbookcontent">
                                                    <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                        <button type="submit" class="themgiosach" name="themgiosach"><i class="fa fa-shopping-basket"></i>
                                                            <em>Thêm vào giỏ</em></button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <div class="tg-productcontent">

                                            <ul class="tg-bookscategories">
                                                <li><a href="javascript:void(0);">{{book.category.category_name}}</a></li>
                                            </ul>
                                            <div class="tg-booktitle">
                                                <h3>{{book.book_name}}</h3>
                                            </div>
                                            <span class="tg-bookwriter">Tác giả : <a href="javascript:void(0);">{{book.author.author_name}}</a></span>
                                            <span class="tg-bookwriter">Giá tiền :  {{book.unit_price}} VNĐ</span>
                                            <span class="tg-bookwriter">Số lượng còn : {{book.qty}}</span>
                                            <span class="tg-bookwriter">Kích thước : {{book.dimensions}}</span>
                                            <span class="tg-bookwriter">Ngôn ngữ : {{book.language}}</span>
                                            <span class="tg-bookwriter">Số trang : {{book.pages}}</span>
                                            <span class="tg-bookwriter">Ngày xuất bản : {{book.publication_date}}</span>
                                            <span class="tg-bookwriter">Số trang : {{book.publisher}}</span>
                                            <span class="tg-stars"><span></span></span>
                                            {% comment %} <div class="tg-share">
                                                <span>Share:</span>
                                                <ul class="tg-socialicons">
                                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                                    <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                                    <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                                                </ul>
                                            </div> {% endcomment %}
                                            <div class="tg-description">
                                                <h3>Mô tả:</h3>
                                                {{book.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tg-productdescription">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="tg-sectionhead">
                                    <h2>Product Description</h2>
                                </div>
                                <ul class="tg-themetabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#description" data-toggle="tab">Description</a></li>
                                    <li role="presentation"><a href="#review" data-toggle="tab">Reviews</a></li>
                                </ul>
                                <div class="tg-tab-content tab-content">
                                    <div role="tabpanel" class="tg-tab-pane tab-pane active" id="description">
                                        <div class="tg-description">
                                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenden
voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                            <figure class="tg-alignleft">
                                                <img src="images/placeholdervtwo.jpg" alt="image description">
                                                <iframe src="https://www.youtube.com/embed/aLwpuDpZm1k?rel=0&amp;controls=0&amp;showinfo=0"></iframe>
                                            </figure>
                                            <ul class="tg-liststyle">
                                                <li><span>Sed do eiusmod tempor incididunt ut labore et dolore</span></li>
                                                <li><span>Magna aliqua enim ad minim veniam</span></li>
                                                <li><span>Quis nostrud exercitation ullamco laboris nisi ut</span></li>
                                                <li><span>Aliquip ex ea commodo consequat aute dolor reprehenderit</span></li>
                                                <li><span>Voluptate velit esse cillum dolore eu fugiat nulla pariatur</span></li>
                                                <li><span>Magna aliqua enim ad minim veniam</span></li>
                                                <li><span>Quis nostrud exercitation ullamco laboris nisi ut</span></li>
                                            </ul>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam remmata aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enimsam
voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos quistatoa.</p>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tg-tab-pane tab-pane" id="review">
                                        <div class="tg-description">
                                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenden
voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                            <figure class="tg-alignleft">
                                                <img src="images/placeholdervtwo.jpg" alt="image description">
                                                <iframe src="https://www.youtube.com/embed/aLwpuDpZm1k?rel=0&amp;controls=0&amp;showinfo=0"></iframe>
                                            </figure>
                                            <ul class="tg-liststyle">
                                                <li><span>Sed do eiusmod tempor incididunt ut labore et dolore</span></li>
                                                <li><span>Magna aliqua enim ad minim veniam</span></li>
                                                <li><span>Quis nostrud exercitation ullamco laboris nisi ut</span></li>
                                                <li><span>Aliquip ex ea commodo consequat aute dolor reprehenderit</span></li>
                                                <li><span>Voluptate velit esse cillum dolore eu fugiat nulla pariatur</span></li>
                                                <li><span>Magna aliqua enim ad minim veniam</span></li>
                                                <li><span>Quis nostrud exercitation ullamco laboris nisi ut</span></li>
                                            </ul>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam remmata aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enimsam
voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos quistatoa.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tg-aboutauthor">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="tg-sectionhead">
                                    <h2>Bình luận</h2>
                                </div>
                                {% if comments %}
                                <div class="tg-authorbox">
                                    {% for review in comments %}
                                    <div class="tg-authorinfo">
                                        <div class="tg-authorhead">
                                            <div class="tg-leftarea">
                                                <div class="tg-authorname">
                                                    <h2>{{ review.customer.fullname }}</h2>
                                                    <span>{{review.created_at}}</span>
                                                    <div>
                                                        {% for i in stars %}
                                                            {% if review.star >= i %}
                                                                <span class="star full" style="display: inline-block"></span>
                                                            {% comment %} {% elif review.star > (i-1) and review.star < i %}
                                                                <span class="star half"></span> {% endcomment %}
                                                            {% else %}
                                                                <span class="star" style="display: inline-block"></span>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tg-description" style="border-top: 1px solid">
                                            <p> {{ review.comment }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    {% endfor %}
                                </div>
                                {% else %}
                                    <p>Chưa có bình luận nào cho cuốn sách này.</p>
                                {% endif %}
                            </div>
                        </div>
                        {% comment %} {% if user.is_authenticated %} {% endcomment %}
                        <div class="row">
                            <div class="tg-pickedbyauthor tg-pickedbyauthorslider">
                                <div>
                                    <h3><span>Thêm bình luận</span></h3>
                                </div>
                                {% comment %} <form method="POST" action="{% url 'book_detail' book.id %}">
                                    {% csrf_token %}
                                    <div class="rating-widget">
                                        <input type="hidden" name="rating" id="rating-value">
                                        <div class="star-ratings-css">
                                          <ul>
                                            <li data-value="1">&#9734;</li>
                                            <li data-value="2">&#9734;</li>
                                            <li data-value="3">&#9734;</li>
                                            <li data-value="4">&#9734;</li>
                                            <li data-value="5">&#9734;</li>
                                          </ul>
                                        </div>
                                      </div>
                                      {{ form.comment }}
                                    </div>
                                    {% comment %} {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit">Gửi bình luận</button> 
                                </form> {% endcomment %}
                                <div id="star">
                                    <span class="stars" data-value="1">&#9734;</span>
                                    <span class="stars" data-value="2">&#9734;</span>
                                    <span class="stars" data-value="3">&#9734;</span>
                                    <span class="stars" data-value="4">&#9734;</span>
                                    <span class="stars" data-value="5">&#9734;</span>
                                    {% comment %} <input type="text" id="rating-input" name="star" value="0"> {% endcomment %}
                                  </div>
                                  <form method="post">
                                    {% csrf_token %}

                                    {{ form.as_p }}
                                    <button type="submit">Gửi đánh giá</button>
                                  </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">

        </div>
    </section>
    <!--************************************
                News Grid End
        *************************************-->
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% comment %} <script>
    $('.rating-widget ul li').on('click', function() {
      var value = $(this).data('value');
      $('#rating-value').val(value);
      $('.rating-widget ul li').removeClass('active');
      $(this).addClass('active');
    });
  </script> {% endcomment %}
  <script>
    $(document).ready(function() {
      $('.stars').click(function() {
        var value = $(this).data('value');
        $('#rating-input').val(value);
        $('.stars').each(function() {
          if ($(this).data('value') <= value) {
            $(this).html('&#9733;');
          } else {
            $(this).html('&#9734;');
          }
        });
      });
    });
  </script>
{% endblock %}